.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

section {
  background-color: #52ce00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


li {
  margin: 8px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;


  list-style-type: none;
  cursor: pointer;
  background-color: chocolate
}
li:hover {
  background-color: darkred;
  
}

input {
 
  border: 1px solid white;
  margin: 15px 0px;
  padding: 15px 15px;
  background-color :chocolate;
  color: white;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darksalmon;
}

input:disabled {
  color: darksalmon;
}

input:hover {
  background-color: darkred;
}

.user-list ul {
  text-align: center;

  background-color: lightgoldenrodyellow;
  padding: 8px;
}

form {
  text-align: center;
  margin: 0;
}

.search {
  display: block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
